<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.springboot_study.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.korit.springboot_study.entity.User">

        <id property="userId" column="user_id" />
        <id property="username" column="username" />
        <id property="password" column="password" />
        <id property="name" column="name" />
        <id property="email" column="email" />
    </resultMap>

    <insert id="insert" keyProperty="userId" useGeneratedKeys="true">
        insert into user_tb
        values(default, #{username}, #{password}, #{name}, #{email})
    </insert>

    <select id="selectByUserName" resultMap="userResultMap">
        select
            user_id,
            username,
            password,
            name,
            email
        from
            user_tb
        where
            username = #{username}

    </select>

    <select id="selectById" resultMap="userResultMap">
        select
            ut.user_id,
            ut.username,
            ut.password,
            ut.name,
            ut.email,

            urt.user_role_id,
            urt.user_id
            urt.role_id,

            rt.role_id,
            rt.role_name
        from
            user_tb ut
            left outer join user_role_tb urt on(urt.user_id = ut.user_id)
            left outer join role_tb rt on(rt.role_id = urt.role_id)
        where
            ut.user_id = #{userId}

    </select>

    <delete id="deleteById">
        delete
        from
            user_tb
        where
            user_id = #{userId}
    </delete>

</mapper>